.snakeBoard{
    outline: 2px solid #E6D3A7;
}

.snakeBoardRow{
    height: 50px;
}

.snakeBordCell{
    width: 50px;
    height: 50px;
    outline: 1px solid #E6D3A7;
    display: inline-block
}


.snake-cell{
    background-color: #59A985;
}
.snake-head{
    background-color: #3A7563;
}

.food-cell{
    background-color: red;
}